{% load static %}
<div class="row mt-5"><!-----row 3 starts----->
    <div class="col-md-4">
        <h5>Address</h5>
        <hr>
        2nd Floor,Landmark Building <br>
        Near Fc college Road <br>
        shivajinagar-pune <br>
    </div>
    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="" class="anchor">Home</a></p>
        <p><a href="" class="anchor">About Us</a></p>
        <p><a href="" class="anchor">Cart</a></p>
        <p><a href="" class="anchor">Contact</a></p>
    </div>
    <div class="col-md-4">
      <h5>Connect Us</h5>
      <hr>
      <h5><a href="http://www.twitter.com"><i class="bi bi-twitter text-danger"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-linkedin"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-instagram"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-facebook"></i></a></h5>
    </div>
</div><!-----row3 ends-->
</div>
<script src="{% static 'asset/js/bootstrap.min.js' %}">

</script>
</body>
</html>